.grammar-workspace {
  position: relative;
  padding: 96px 8px 8px;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  overflow: auto;
}

.grammar-container {
  display: block;
  margin: 0px auto;
  height: 100%;
  width: 100%;
  max-width: 1170px;
}

.half {
  width: 50%;
  float: left;
  height: 100%;
  padding: 8px;
}

.previewer {
  border: #bcbcbc solid 1px;
  background-color: #fff;
  clear: both;
  height: calc(100% - 58px);
}

input:not([type=radio])  {
  display: block;
  height: 30px;
  font-size: 14px;
  margin: 3px 0 10px;
  width: 100%;
  padding: 0 8px;
}

input[type=radio] {
  height: initial;
  widows: initial;
  margin-bottom: 0;
}

.plus-adder, .alphabet-symbols {
  width: 100%;
}

.plus-adder > input {
  width: calc(100% - 30px);
  float: left;
}

.plus-adder > button {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  margin-top: 3px;
}

input.tester {
  width: calc(100% - 50px);
  float: left;
}

.alphabet-symbols > span:last-child {
  display: block;
}

button.tester {
  width: 50px;
  float: right;
  margin-top: 3px;
  height: 30px;
  padding-top: 5px;
}

button.tester:after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 8px;
}

.radio-wrapper {
  display: block;
  margin: 5px 0 10px;
}

.radio-wrapper label {
  font-size: 14px;
}

.radio-wrapper label:after {
  content: "";
  display: block;
}

.production-rules-input input {
  float: left;
  width: calc(50% - 30px);
}

.arrow {
  position: relative;
  float: left;
  display: block;
  height: 4px;
  width: 20px;
  background-color: #333;
  margin: 15px 5px;
}

.arrow:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -2px;
  border-top: transparent solid 8px;
  border-bottom: transparent solid 8px;
  border-left: #333 solid 10px;
}

.production-rules-input button {
  float: left;
  height: 30px;
  width: 30px;
  margin-top: 3px;
  cursor: pointer;
}

.rule {
  padding: 2px 4px;
  background-color: #f0f0f0;
  display: inline-block;
  overflow: hidden;
}

.rule:before {
  content: "";
  direction: block;
}

.rule .arrow {
  float: none;
  height: 3px;
  width: 15px;
  margin: 4px 5px;
  display: inline-block;
}

.rule span.remove {
  color: #e74c3c;
  cursor: pointer;
  border-right: #fafafa solid 2px;
  padding: 8px;
  position: relative;
  text-align: center;
  left: -4px;
}

.rule span.remove:hover {
  color: #c0392b;
  background-color: #d0d0d0;
}

.rule .arrow:after {
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left-width: 8px;
  top: -4.5px;
  right: -3px;
}

.rightHand {
  margin-right: 4px;
}

.previewer .level {
  display: block;
  padding: 10px 0;
  text-align: center;
}

.level .tree-node {
  display: inline-block;
  padding: 26px 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: #333 solid 1px;
  margin: 0 5px;
  font-size: 12px;
}

.tree-node.special {
  background-color: #0C0;
}