<div class="sidebar">
  <a routerLinkActive="active" routerLink="diagram">
    <div class="menu-item">
      <span>Diagram</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="diagram/simulator">
    <div class="menu-item indent">
      <span>Simulation</span>
    </div>
  </a>
  <a routerLinkActive="active" routerLink="table">
    <div class="menu-item">
      <span>Transition Table</span>
    </div>
  </a>

  <a routerLinkActive="active" routerLink="options">
    <div class="menu-item">
      <span>Options</span>
    </div>
  </a>
</div>
<div class="diagram-wrapper">
  <router-outlet></router-outlet>
</div>
