<div class="canvas-wrapper" #canvas
  (mousedown)="onCanvasMouseDown($event)"
  (mouseup)="onCanvasMouseUp($event)"
  (contextmenu)="preventContextMenu($event)"
  (mousemove)="onCanvasMouseMove($event)"
  >
  <div class="state" *ngFor="let state of automata.states"
  [style.transform]="state.transformPosition"
  [class.active]="automata.activeElement == state"
  [class.incorrect]="automata.incorrectElement == state"
  [class.selected]="automata.selectedState == state"
  [class.initial]="state.type == 'initial' || state.type == 'ambivalent'"
  [class.final]="state.type == 'final' || state.type == 'ambivalent'"
  (mouseup)="onStateMouseUp($event, state)"
  (mousemove)="onStateMouseMove($event, state)">
    <div class="finalCircle"></div>
    <span class="state-name">{{ state.name }}</span>
    <div class="transition" *ngFor="let transition of state.transitions"
    [style.transform]="sanitizeStyle(transition.transformPosition)"
    [style.width.px]="transition.width"
    [class.self]="transition.origin == transition.destination"
    [class.selected]="automata.selectedTransition == transition"
    [class.rightArrow]="transition.hasRightArrow"
    [class.active]="automata.activeElement == transition"
    [class.leftArrow]="!transition.hasRightArrow"
    [class.duplicateLayout]="transition.shouldDuplicateLayout != 0"
    (mousedown)="onTransitionMouseDown($event, transition)"
    (mouseup)="onTransitionMouseUp($event, transition)">
      <div class="conditions">
        <span class="condition" *ngIf="transition.conditions.length > 0;else kleenClosure">
          <span *ngIf="transition.conditions.length < automata.alphabet.symbols.length;else sigmaSpan">
              {{ transition.conditionsString }}
          </span>
          <ng-template #sigmaSpan>
              &#x3A3;
          </ng-template>
        </span>
        <ng-template #kleenClosure>
          <span class="condition" *ngIf="transition.conditions.length == 0">&#x3B5;</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="context-menu" *ngIf="showContextMenu"
  [style.bottom.px]="contextMenuBottom"
  [style.left.px]="contextMenuLeft">
  <div *ngIf="contextMenuType == 'state'">
    <label for="stateName">Name</label>
    <input type="text" [(ngModel)]="this.automata.selectedState.name">

    <label for="properties">Properties</label>
    <div class="checkbox-wrapper">
      <input type="checkbox" name="properties" value="isInitial" id="isInitial"
      [checked]="automata.selectedState.type == 'initial'
                || automata.selectedState.type == 'ambivalent'"
      (change)="onToggleStateTypeCheckbox('initial', $event)"> <label for="isInitial">Initial State</label>
      <input type="checkbox" name="properties" value="isFinal" id="isFinal"
      [checked]="automata.selectedState.type == 'final'
                || automata.selectedState.type == 'ambivalent'"
      (change)="onToggleStateTypeCheckbox('final', $event)"> <label for="isFinal">Final State</label>
    </div>
    
  </div>
  <div *ngIf="contextMenuType == 'transition'">
    <div class="alphabet-symbols">
      <div class="symbol-entry" *ngFor="let condition of automata.selectedTransition.conditions">
        {{ condition }}
        <span class="remove" (click)="removeConditionFromTransition(condition)">x</span>
      </div>
      <span *ngIf="automata.selectedTransition.conditions.length == 0">
        An empty transition defaults to &#x3B5;
      </span>
      <span class="formal-string">{{ automata.alphabet.formalString }}</span>
    </div>
    <div class="plus-adder">
      <input type="text" id="alphabet" [(ngModel)]="conditionInput" (keyup.enter)="addConditionToTransition()">
      <button (click)="addConditionToTransition()">+</button>
    </div>
  </div>
</div>