.state {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: #333 solid 1px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    user-select: none;
}

.state.selected {
    background-color: #f0f0f0;
}

.state.initial:before {
    content: "";
    position: absolute;
    left: -15px;
    border-left: 8px solid #333;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.state.initial:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: #333;
    left: -45px;
}

.state.final:after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 48px;
    height: 48px;
    border: #333 solid 1px;
    border-radius: 50%;
}

.transition {
    position: absolute;
    width: 10px;
    border-top: #333 solid 1px;
}

.transition.selected {
    border-top-width: 3px;
}

.transition:after {
    content: "";
    position: absolute;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

}

.transition.self {
    height: 45px;
    border-radius: 50%;
    border-right: #333 solid 1px;
    border-left: #333 solid 1px;
    border-bottom: transparent solid 3px;
}

.transition.rightArrow:after {
    right: 0;
    top: -6px;
    border-left: 8px solid #333;
}

.transition.leftArrow:after {
    left: 0;
    top: -6px;
    border-right: 8px solid #333;
}

.transition.self:after {
    right: 0;
    top: initial;
    bottom: 0;
    border-left: 8px solid #333;
    transform: rotate(120deg);
}