.container {
    width: 920px;
    max-width: 100%;
    padding: 16px;
    margin: 0px auto;
    display: block;
    background-color: #fff;
    min-height: calc(100% - 40px);
    box-shadow: 0px 2px 2px 2px #999;
}

ul {
    list-style: none;
    padding-left: 10px;
}

li:before {
    content: "-";
    margin-right: 10px;
}

.margin {
    margin: 80px;
}