<div class="general-tools" [attr.style]="style" [class.hidden]="!appStateService.globalState">
    <div id="saveTool" class="tool save"></div>
    <div id="newTool" class="tool new"></div>
    <div id="openTool" class="tool open"></div>
    <div id="deleteTool" class="tool delete"></div>
    <div class="separator"></div>
    <div id="undoTool" class="tool undo"></div>
    <div id="redoTool" class="tool redo"></div>
</div>
<div class="contextual-tools">
    <div id="finiteTools" class="contextual-wrapper" [class.hidden]="!toolbarEnableState.finiteautomata">
        <div id="newFiniteState" class="tool" [class.active]="selectedTool == 'newFiniteState'" 
            (click)="selectTool('newFiniteState')"></div>
        <div id="newFiniteTransition" class="tool" [class.active]="selectedTool == 'newFiniteTransition'"
            (click)="selectTool('newFiniteTransition')"></div>
    </div>
</div>