<div class="general-tools" [attr.style]="style" *ngIf="appStateService.project">
    <div id="saveTool" class="tool save" (click)="saveAutomata()"></div>
    <div id="newTool" class="tool new"></div>
    <div id="openTool" class="tool open"></div>
    <div id="deleteTool" class="tool delete" (click)="deleteSelection()"></div>
    <div class="separator"></div>
    <div id="undoTool" class="tool undo"></div>
    <div id="redoTool" class="tool redo"></div>
</div>
<div class="contextual-tools">
    <div id="finiteTools" class="contextual-wrapper" *ngIf="toolbarEnableState.finiteautomata">
        <div id="newFiniteState" class="tool newFiniteState" [class.active]="selectedTool == 'newFiniteState'" 
            (click)="selectTool('newFiniteState')"></div>
        <div id="newFiniteTransition" class="tool newFiniteTransition" [class.active]="selectedTool == 'newFiniteTransition'"
            (click)="selectTool('newFiniteTransition')"></div>
    </div>
</div>